.rooms.form {
  max-height: 80vh;
  overflow: hidden;
}

.player-list,
.room-list {
  width: 320px;
}

/* todo(vmyshko): provide better naming, move to flex.css */
.fill-left {
  flex: 1 1 auto;
  text-align: left;
}
