.input {
  --color-default: white;
  --color-blur: rgba(255, 255, 255, 0.6);
  --color-focus: #f1c857;
  --color-error: #ff4f4f;

  width: 280px;
}

.input-body {
  height: 56px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0px 0px;
}

.input-icon {
  color: var(--color-blur);
}

.error-icon {
  color: var(--color-error);
}

.input hr {
  border: none;
  height: 2px;

  background-color: var(--color-blur);
}

.input-label {
  position: absolute;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: flex-end;
  text-transform: capitalize;

  color: var(--color-default);
}

.input-value {
  font-size: 16px;
  color: var(--color-default);
  border: none;
  background: none;
  outline: none;
  padding: 0;
  height: 20px;
}

.input-footer {
  height: 20px;
  font-size: 12px;
  min-width: 0;
}

.helper-text {
  color: var(--color-blur);
}

.error-text {
  color: var(--color-error);
}

/* BLUR */
.input .input-label {
  color: var(--color-blur);
}

.input hr,
.input-footer {
  transition: 150ms ease-in-out all;
}

/* EMPTY */
.input .input-label {
  transform: translate(0, -100%);
  font-size: 12px;
  transition: 150ms ease-in-out all;
}

.input.is-empty:not(.is-focused) .input-label {
  transform: translate(0, 0);
  font-size: 16px;
}
/* FOCUS */

.input.is-focused hr {
  background-color: var(--color-focus);
}

.input.is-focused .input-label {
  color: var(--color-focus);
}

/* ERROR */

.input.has-error .input-label {
  color: var(--color-error);
}

.input.has-error hr {
  background-color: var(--color-error);
}
