.input {
  /*  */

  --color-focus: #f1c857;
  --opacity-disabled: 0.6;
}

.input-block {
  width: 280px;
  height: 56px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0px 0px;
}

.text-block {
  position: relative;
  padding: 0px 12px;
  justify-content: center;
}

.input-icon {
  padding: 0 12px;
  color: white;
  opacity: var(--opacity-disabled);
}

.input hr {
  border: none;
  height: 2px;
  background-color: white;
}

.label-text {
  position: absolute;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: flex-end;
  text-transform: capitalize;

  color: white;
  opacity: var(--opacity-disabled);
}

.input-value {
  font-size: 16px;
  color: white;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  height: 20px;
}

.input-helper {
  height: 20px;
  font-size: 12px;
  color: white;
}

/* BLUR */
.input .label-text {
  opacity: var(--opacity-disabled);
}

.input hr,
.input-helper {
  opacity: var(--opacity-disabled);
  transition: 150ms ease-in-out all;
}

.input-helper {
}

/* EMPTY */
.input .label-text {
  transform: translate(0, -100%);
  font-size: 12px;
  transition: 150ms ease-in-out all;
}

.input.is-empty:not(.is-focused) .label-text {
  transform: translate(0, 0);
  font-size: 16px;
}
/* FOCUS */
.input.is-focused hr {
  background-color: var(--color-focus);
  opacity: 1;
}

.input.is-focused .label-text {
  color: var(--color-focus);

  opacity: 1;
}
