.app {
  text-align: center;
  background-color: #778b44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-logo {
  animation: pulse infinite 1s ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
  }
}
