@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

@import './reset.css';
@import './flex.css';
@import './box-model.css';

@import './components/common/button.css';
@import './components/common/list.css';
@import './components/common/city-icon.css';

:root {
  --font-main: 'Walter Turncoat', cursive;

  --color-text-b0: #000000;
  --color-text-b1: #000000cc;
  --color-text-b2: #00000070;

  --shadow-0: 0px 0px 0 0 rgba(0, 0, 0, 0.15);
  --shadow-1: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  --shadow-2: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  font-family: var(--font-main);
}

h1 {
  color: var(--color-text-b2);
}

a,
a:visited {
  color: #72d8ff;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 20px;

  /* width: 320px; */

  /* card/bg */
  background: #645c51;
  color: white;
  /* input/label-bg */
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* card/shadow */
  box-shadow: var(--shadow-2);
  border-radius: 10px;
}
