@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Atomic+Age&display=swap');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

@import './reset.css';
@import './flex.css';
@import './box-model.css';

@import './components/common/button.css';
@import './components/common/list.css';
@import './components/common/city-icon.css';

:root {
  --font-main: 'Walter Turncoat', cursive;
  --font-number: 'Atomic Age', cursive;
  --font-caption: 'Squada One', cursive;

  --color-text-b0: #000000;
  --color-text-b1: #000000cc; /* 80% */
  --color-text-b2: #00000070; /* 44% text/dark */
  --color-text-b3: #00000033; /* 20% input/label-bg */

  --shadow-0: 0px 0px 0 0 rgba(0, 0, 0, 0.15);
  --shadow-1: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  --shadow-2: 4px 4px 0 0 rgba(0, 0, 0, 0.15);

  --shadow-border-b1: inset 0 0 0 2px var(--color-text-b1);
  --shadow-border-b2: inset 0 0 0 2px var(--color-text-b2);
  --shadow-border-b3: inset 0 0 0 2px var(--color-text-b3);
}

/* normalize */
html {
  font-family: var(--font-main);
}

h1 {
  color: var(--color-text-b2);
}

a,
a:visited {
  color: #72d8ff;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 20px;

  /* card/bg */
  background: #645c51;
  color: white;
  /* input/label-bg */
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* card/shadow */
  box-shadow: var(--shadow-2);
  border-radius: 10px;
}

.overlay {
  position: absolute;
}

/* helpers */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.z-index-1 {
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-stroke {
  --text-stroke-color: var(--color-text-b0);

  text-shadow: -1px -1px 0 var(--text-stroke-color),
    1px -1px 0 var(--text-stroke-color), -1px 1px 0 var(--text-stroke-color),
    1px 1px 0 var(--text-stroke-color);
}
