@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "./reset.css";
@import "./flex.css";
@import "./box-model.css";

@import "./components/common/button.css";
@import "./components/common/list.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a,
a:visited {
  color: #72d8ff;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 20px;

  /* width: 320px; */

  /* card/bg */
  background: #645c51;
  color: white;
  /* input/label-bg */
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* card/shadow */
  box-shadow: 0px 0px 6px #000000;
  border-radius: 10px;
}
